.heading{
color:grey;
font-size:30px;
text-align:center;
margin:30px;
}

.heading1{
color:grey;
font-size:30px;
text-align:left;
margin:0px 30px 30px 30px;
}
.childDiv {
        float: left;
        width: 40%;
    }
.tab1{
       width:1050px;
       border-collapse: collapse;
       text-align:center;
       margin-left: auto;
       margin-right: auto;
       
}

.textable{
    
    text-align:center;
    padding: 10px;
    
}

.button{
    padding:7px 20px;
    font-size: 15px;
    color: white;
    background-color: #4683ea;
    border: none;
    border-radius:7px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.form{
    
    color:grey;
    font-size:20px;
    margin:30px 30px 30px 30px;
       
    }
.form1{
    
    color:grey;
    font-size:20px;
    margin:20px 30px 20px 30px;
       
    }

.form input{
    
    height: 25px;   
}

.form input[type="checkbox"]{
    padding-bottom: 15px;
    height: 25px;
    width:25px;
}