<html>
    <head>
    <script type="text/javascript">

    function showImage(){
        document.getElementById('loadingImage').style.visibility='visible';
    }

    </script>
    
        <link href="/static/mystyle.css" rel="stylesheet">
    </head>

    <body style="margin-top:-18px;">
      
      
       <div style="margin: 0px 10px 10px 10px; margin-top: 0px;">
        <div class="childDiv" style="margin-left:15%">
            <div class="heading1" style="margin-bottom: 10px">Recent Crawl Url</div>
            <div class="form1" style="color: red">{{yd.website_id}}</div>
            <div class="form1" style="color:red">{{yd.crawl_id}}</div> 
        
         <form method='POST' action='' align="left">
            {% csrf_token %}
            <div class="heading1">Scroll Details</div>
            <div class="form1">Existing Details : <select>
                
                {% for e in exist1 %}
               <option> {{e.web_id}}</option>
            {% endfor %}
                
            </select> </div>
            <div class="form1">website : {{post.web_id}}</div>
            <div class="form1">click : {{post.click}}</div>
            <div class="form1"> click id : {{post.click_id}} </div>
            <div class="form1">scrape ? : {{post.scrape_before_click}}</div>
            <div style="margin:30px"><input type="submit" name="button1" value="Add" class="button"></div>
         </form>
        
         <form method='POST' action='' align="left">
            {% csrf_token %}
            <div class="heading1"> Category Details</div>
            <div class="form1">Existing Categories : {{crawl.cat}} </div>       
            <div class="form1"> Add a category : {{prod1.category}}</div>    
            <div style="margin:30px"><input type="submit" name="button2" value="Add" class="button"></div>
         </form>
        </div>
        
        <div class="childDiv">
         <form method='POST' action='' align="left">
            {% csrf_token %}
            <div class="heading1"> Product Css Arrtibute Details </div>
            <div>
            <div class="form1">Crawl ID : {{crawl.crawl_id}}</div>
            <div class="form1">Category: {{crawl.cat}}</div>
            <div class="form1">Parent Selector:{{crawl.parent_css}}</div>
            <div class="form1">Product ID:{{crawl.prod_id}}</div>             
            <div class="form1">Product ID Attribute:{{crawl.prod_attribute}}</div>   
            <div class="form1">Name:{{crawl.name}}</div>
            <div class="form1">MRP:{{crawl.mrp}}</div>
            <div class="form1">Selling Price:{{crawl.sp}}</div>
            </div>
            
            <div style="margin:30px">
                <input type="submit" name="button3" value="Add" class="button" onclick="showImage();" >
            </div>        
         </form>
         <img id="loadingImage" src="{{ MEDIA_URL }}wait.gif" align="middle" style="visibility:hidden" height="75" width="225" />
        </div>
       </div>
      <div style="margin: 30px 575px 20px 575px">
       
      </div>
    </body>
</html>