<html>
    <head>   
    
    <link href="/static/mystyle.css" rel="stylesheet">
    
    </head>

    <body>
    <br><br>
        <form method='POST' action='' align="center">{% csrf_token %}
            <div class="heading"> SEARCH </div>

            <div class="form">
                By Category:{{posts1.d_box}}
            </div>     
            <div class="form">
                    By Name:{{posts1.name}}
            </div>
<input type="submit" name="button7" value="button7" class="button">

</form>
<div style="margin:30px"></div>

<hr>

<div style="margin:30px"></div>

{% regroup posts by item_id as post_list %}

<table border="4" class="tab1">
    <thead>
            <tr color="grey" size="8">
            
            
            <th>Name</th>
            <th>MRP</th>
            <th>Site price</th>
            <th>Website</th>
            </tr>
            
          </thead>        
     <tbody>           
 
 
{% for country in post_list %}
    
        <tr style="background-color: #DDD;">
            <td colspan="4"> Item Code : {{ country.grouper }}</td>
        </tr> 
        
        
        
        {% regroup country.list|dictsort:"site_price" by site_price as country2 %}   
            
            {% for country1 in country2 %}
   
                                   
                {% for item in country1.list %}
                
                       {% if "healthkart"|slugify in item.crawl_id|slugify %}
                
                            {% if forloop.counter == 1 %}
                    <tr style="color: green">
                                     
                    <td>
                      
                            <div style="margin: 5px; text-align: left"> {{item.name}}</div>
                            
                    </td>
            
            
                    <td>
                            <div style="margin: 5px;">{{item.mrp}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;font:bold">{{item.site_price}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;">{{item.crawl_id}}</div>
            
                    </td>   
    
            
                </tr>  
                            
                
                
                {% elif forloop.counter == country.list|length %}
                <tr style="color: red">
                                      
                    <td>
                      
                            <div style="margin: 5px; text-align: left"> {{item.name}}</div>
                            
                    </td>
            
            
                    <td>
                            <div style="margin: 5px;">{{item.mrp}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;font:bold">{{item.site_price}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;">{{item.crawl_id}}</div>
            
                    </td>   
    
            
                </tr>  
                
                
                {% elif forloop.counter != 1 and forloop.counter != country.list|length %}
                <tr style="color: orange">
                                     
                    <td>
                      
                            <div style="margin: 5px; text-align: left"> {{item.name}}</div>
                            
                    </td>
            
            
                    <td>
                            <div style="margin: 5px;">{{item.mrp}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;font:bold">{{item.site_price}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;">{{item.crawl_id}}</div>
            
                    </td>   
    
            
                </tr>  
                {% endif %}
                
                
                
            {% else %}
                
                 <tr >
                                      
                    <td>
                      
                            <div style="margin: 5px; text-align: left"> {{item.name}}</div>
                            
                    </td>
            
            
                    <td>
                            <div style="margin: 5px;">{{item.mrp}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;font:bold">{{item.site_price}}</div>
                    </td>
        
        
                    <td>
                            <div style="margin: 5px;">{{item.crawl_id}}</div>
            
                    </td>   
    
            
                </tr>  
                {% endif %}
            
                
                
                
                
                {% endfor %}
      
            
            {% endfor %}   
 
    
{% endfor %}

     </tbody>
</table>
</html>
