<html>
<head>   
</head>

<body>
<form method='POST' action=''>{% csrf_token %}
<h4> SEARCH </h4>
{{posts1.as_table}}
<input type='submit' name="button7" value="button7">
</form>


{% regroup posts by item_id as post_list %}

<table border="4" style="width:1050px;border-collapse: collapse" >
    <thead>
            <tr>
            <th>Item Codes</th>
            <th>Name</th>
            <th>MRP</th>
            <th>Site price</th>
            <th>Website</th>
            </tr>
        
          </thead>        
     <tbody>           
        

{% for country in post_list %}
    
    <tr>
    <td>{{ country.grouper }}</td>
    <td>
        {% for item in country.list %}
        <div style="margin: 5px 5px">{{item.name}}</div>
        {% endfor %}    
    </td>
       
       
       <td>
        {% for item in country.list %}
        <div style="margin: 5px 5px">{{item.mrp}}</div>
        {% endfor %}    
    </td>
    
    <td>
        {% for item in country.list %}
        <div style="margin: 5px 5px">{{item.site_price}}</div>
        {% endfor %}    
    </td>
    
    <td>
        {% for item in country.list %}
        <div style="margin: 5px 5px">{{item.crawl_id}}</div>
        {% endfor %}    
    </td>
    
    
    </tr>
{% endfor %}

     </tbody>
</table>
</html>
