{% regroup posts by item_id as post_list %}

<table border="4" style="width:1050px;border-collapse: collapse" >
    <thead>
            <tr>
            <th>Item Codes</th>
            <th>Name</th>
            <th>MRP</th>
            <th>Site price</th>
            <th>Website</th>
            </tr>
        
          </thead>        
     <tbody>           
        

{% for country in post_list %}
    
    <tr>
    <td>{{ country.grouper }}</td>
    <td>
        {% for item in country.list %}
        <div style="margin: 5px 0">{{item.name}}</div>
        {% endfor %}    
    </td>
       
       
       <td>
        {% for item in country.list %}
        <div style="margin: 5px 0">{{item.mrp}}</div>
        {% endfor %}    
    </td>
    
    <td>
        {% for item in country.list %}
        <div style="margin: 5px 0">{{item.site_price}}</div>
        {% endfor %}    
    </td>
    
    <td>
        {% for item in country.list %}
        <div style="margin: 5px 0">{{item.crawl_id}}</div>
        {% endfor %}    
    </td>
    
    
    </tr>
{% endfor %}

     </tbody>
</table>

